<ion-header class="page-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Cancel Booking</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" scroll-y="true">
  <div class="page-booking-cancelation">
    <div class="content_padding">
      <h2 class="page_heading">Booking Id: <span>25468</span></h2>
      <div class="refund_details">
        <div class="border_bottom_dashed">
          <div class="flex-box">
            <p class="text-primary">Total Paid</p>
            <p class="text-primary"><i class="fa-solid fa-indian-rupee-sign "></i> 12,200</p>
          </div>
        </div>

        <div class="border_bottom_dashed">
          <div class="flex-box">
            <p class="text-danger">Deductions</p>
            <p class="text-danger"><i class="fa-solid fa-indian-rupee-sign "></i> 6,200</p>
          </div>
        </div>

        <div class="border_bottom_dashed">
          <div class="flex-box bg-secondary">
            <p class="text-success">Total Refund</p>
            <p class="text-success"><i class="fa-solid fa-indian-rupee-sign "></i> 6,200</p>
          </div>
        </div>

      </div>
      <div class="form-group">
        <ion-label>Select Reason of cancel Booking</ion-label>
        <ion-select class="form-control" placeholder="Select Filter">
          <ion-select-option value="one">Guest cancel room booking </ion-select-option>
          <ion-select-option value="two">Tour Canceled</ion-select-option>
          <ion-select-option value="three">Room Not Available</ion-select-option>
        </ion-select>

        <a (click)="setOpen(true)" class="btn_view_charges">See cancellation Charges</a>
        <!-- cancellation policy modal -->
        <ion-modal [isOpen]="isModalOpen" class="modalCancellationPolicy">
          <ng-template>
            <ion-toolbar>
              <ion-buttons slot="end">
                <ion-button (click)="setOpen(false)" class="close_modal"><i class="fa-solid fa-xmark"></i></ion-button>
              </ion-buttons>
            </ion-toolbar>
            <ion-content class="ion-padding">
              <div class="ion-text-center">
                <img src="../../assets/images/wallet.png" alt="Wallet Icon">
                <h2 class="page_heading mt-15">Cancellation Charges</h2>
              </div>
              <div class="modal-content">
                <ul>
                  <li>Hotel accepted cancellation and refunded full amount before 30 days</li>
                  <li>Hotel accepted cancellation and refunded partial amount before 30 days</li>
                  <li>Hotel accepted cancellation and refunded 10% amount before 10 days</li>
                  <li>Hotel accepted cancellation and refunded lost amount before 5 days</li>
                </ul>
              </div>
            </ion-content>
          </ng-template>
        </ion-modal>

      </div>
    </div>
    
  
    <ion-row class="bottom_fixed_section mt-20"> 
      <ion-col size="12"> 
        <p class="exclamation exclamation-success ion-text-center ms-0">
          <span><i class="fa-solid fa-exclamation"></i></span> Your booking is under partially refundable 
        </p>
        <button class="btn-large btn-primary" (click)="confirmBooking()" ion-button full no-margin>Confirm Cancellation</button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>