<ion-header class="page-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Booking Detail</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen="true" scroll-y="true">
  <div class="page-booking-details">
    <div class="content_padding">
      <h2 class="page_heading">Booking Id: <span>25468</span></h2>

      <ion-card class="shadow-none card-booking-details">
        <ion-row>

          <ion-col size="12" class="p-0">
            <div class="p-10 mb-10">

              <table class="w-100">
                <tr>
                  <td><span>Check in </span></td>
                  <td class="ion-text-right"><strong>6 Sep</strong></td>
                </tr>
                <tr>
                  <td><span>Check out</span> </td>
                  <td class="ion-text-right"><strong>7 Sep</strong></td>
                </tr>
                <tr>
                  <td><span>Booking date</span></td>
                  <td class="ion-text-right"><strong>30-Aug-22, 11:30 AM</strong></td>
                </tr>
              </table>
            </div>
          </ion-col>
          
        </ion-row>
      </ion-card>

    </div>
  </div>
</ion-content>


