<ion-tabs class="bottom_tab_bar">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
     <img src="../../assets/icon/home-filled.svg" alt="">
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search-room">
      <img src="../../assets/icon/book-room.svg" alt="">
      <ion-label>Book Room</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="booking-status">
      <img src="../../assets/icon/booking-status.svg" alt="">
      <ion-label>Status</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="agent-profile">
      <img src="../../assets/icon/user.svg" alt="">
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>