<ion-header class="page-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="agent-profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Transaction History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" scroll-y="true">
  <div class="page-transactions">
    <div class="content_padding">
      <!-- bookings filter form -->
      <div class="form">
        <ion-row>
          <ion-col size="4">
            <div class="form-group">
              <ion-label class="control-label">Search</ion-label>
              <ion-input class="form-control" type="Search" name="bookingId" placeholder="search by Booking ID">
              </ion-input>
            </div>
          </ion-col>

          <ion-col size="4">
            <div class="form-group">
              <ion-label class="control-label">From</ion-label>
              <input class="form-control" type="date" name="date" placeholder="DD/MM/YY">
            </div>
          </ion-col>

          <ion-col size="4">
            <div class="form-group">
              <ion-label class="control-label">To</ion-label>
              <input class="form-control" type="date" name="date" placeholder="DD/MM/YY">
            </div>
          </ion-col>
        </ion-row>
      </div>

      <h2 class="page_heading mb-20 mt-25">Transaction(10 done)</h2>
      <ul class="transactions-list">
        <li>
          <button class="btn-list bg-secondary" [routerLink]="['/transaction-details']">
            <h4>
              Booking ID: 25473
              <span>Payment Mode: UPI</span>
            </h4>
            <p>
              <i class="fa-solid fa-indian-rupee-sign"></i> 5,500
              <span class="text-success">success</span>
            </p>
          </button>
        </li>

        <li>
          <button class="btn-list" [routerLink]="['/transaction-details']">
            <h4>
              Booking ID: 7548
              <span>Payment Mode: Neft</span>
            </h4>
            <p>
              <i class="fa-solid fa-indian-rupee-sign"></i> 4,457
              <span class="text-danger">Failed</span>
            </p>
          </button>
        </li>

        <li>
          <button class="btn-list bg-secondary" [routerLink]="['/transaction-details']">
            <h4>
              Booking ID: 7548
              <span>Payment Mode: Cash</span>
            </h4>
            <p>
              <i class="fa-solid fa-indian-rupee-sign"></i> 6,500
              <span class="text-danger">Failed</span>
            </p>
          </button>
        </li>

        <li>
          <button class="btn-list" [routerLink]="['/transaction-details']">
            <h4>
              Booking ID: 7548
              <span>Payment Mode: Bank Transfer</span>
            </h4>
            <p>
              <i class="fa-solid fa-indian-rupee-sign"></i> 4,000
              <span class="text-success">Success</span>
            </p>
          </button>
        </li>
      </ul>
    </div>
  </div>
</ion-content>