<ion-header class="page-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Wallet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" scroll-y="true">
  <div class="page_wallet">
    <div class="content_padding">
      <div class="wallet_balance">
        <h1><i class="fa-solid fa-indian-rupee-sign"></i> 10,000</h1>
        <p>Total Wallet Balance</p>
      </div>

       <!-- deposti money -->
      <div class="deposit_money">
        <button class="btn-large btn-secondary" ion-button full no-margin>Deposit</button>
      </div>
    </div>
  </div>
</ion-content>
