<ion-header class="page-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="agent-profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Refund</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" scroll-y="true">
  <div class="page-allrefunds">
    <div class="content_padding">
      <!-- bookings filter form -->
      <div class="form">
        <ion-row>
          <ion-col size="4">
            <div class="form-group">
              <ion-label class="control-label">Search</ion-label>
              <ion-input class="form-control" type="Search" name="bookingId" placeholder="search by Booking ID">
              </ion-input>
            </div>
          </ion-col>

          <ion-col size="4">
            <div class="form-group">
              <ion-label class="control-label">From</ion-label>
              <input class="form-control" type="date" name="date" placeholder="DD/MM/YY">
            </div>
          </ion-col>

          <ion-col size="4">
            <div class="form-group">
              <ion-label class="control-label">To</ion-label>
              <input class="form-control" type="date" name="date" placeholder="DD/MM/YY">
            </div>
          </ion-col>
        </ion-row>
      </div>

      <!-- refund-list -->
      <ul class="refund-list mt-20">
        <li>
          <button class="btn-list bg-secondary" [routerLink]="['/booking-cancelation']">
            <h4>
              Ticket ID : 12305
              <span> <i class="fa-solid fa-indian-rupee-sign"></i> 6,200 </span>
            </h4>
            <span class="badge badge-warning">Under Process</span>
          </button>
        </li>

        <li>
          <button class="btn-list" [routerLink]="['/booking-cancelation']">
            <h4>
              Ticket ID : 12305
              <span> <i class="fa-solid fa-indian-rupee-sign"></i> 3,000 </span>
            </h4>
            <span class="badge badge-success">Refund</span>
          </button>
        </li>

        <li>
          <button class="btn-list" [routerLink]="['/booking-cancelation']">
            <h4>
              Ticket ID : 12305
              <span> <i class="fa-solid fa-indian-rupee-sign"></i> 0 </span>
            </h4>
            <span class="badge badge-danger">Canceled</span>
          </button>
        </li>

        <li>
          <button class="btn-list bg-secondary" [routerLink]="['/booking-cancelation']">
            <h4>
              Ticket ID : 12305
              <span> <i class="fa-solid fa-indian-rupee-sign"></i> 1,200 </span>
            </h4>
            <span class="badge badge-warning">Under Process</span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</ion-content>